@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap');

* {
  font-family: 'Raleway', sans-serif;
}

.widget-header {
  background-color: #5c7d77;
  color: black;
  font-widget: 500;
}

.line, .header-title {
  color: white;
}

.btn-primary {
  background-color: #d0a75b;
  border-radius: 2rem;
  border: none;
  color: black;
}

.input-text. .dropdown-toggle {
  border-radius: 2rem;
}