@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap');

* {
  font-family: 'Raleway', sans-serif;
}


.body {
  background-color: #f9f4f5;
}

.eventJourneyContainer .widget-header {
  background-color: #5c7d77;
}

.eventJourneyContainer .widget-header .line {
  border: 1px solid #d0a75b;
  opacity: 1;
}

.eventJourneyContainer .widget-header .booking-reference .reference-header {
  color: #fff;
}

.eventJourneyContainer .widget-header .booking-reference .reference-number {
  color: #d0a75b;
}
.eventJourneyContainer .summary-header .summary-header-title {
  color: #273d3e;
}

.dateSelection .DayPicker-Caption {
  text-align: center;
  color: #273d3e;
}

.dateSelection .DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside) {
  background-color: #5c7d77;
}

.nav-tab .nav-link.active::after {
  border-bottom: 5px solid #273d3e;
}

.nav-tab .nav-link:hover::after {
  border-bottom: 5px solid #5c7d77;
}

.dateSelection .timePickerColumn .time-select-container .time-select__option--is-selected{
  background: #5c7d77;
  color: white;

}

.nav-tab .nav-link {
  color: #5c7d77;
}


.nav-tab .nav-link.active {
  color: #273d3e;
}

.summary-header .link {
  color: #273d3e!important;
}

.dateSelection .btn-outline-primary:not(:disabled):not(.disabled).active {
  background-color: #d0a75b;
  border-radius: 2rem;
  border: none;
  color: black;
}

.btn-primary {
  background-color: #d0a75b;
  border-radius: 2rem;
  border: none;
  color: black;
}

.btn-primary:hover {
  background: #d0a75b!important;
  filter: brightness(80%);
  color: black;
}

.btn-primary:focus {
  border-color: #d0a75b;
  box-shadow: 0 0 0 0.2rem #d0a75b80;
}


.input-text, .dropdown-toggle {
  border-radius: 2rem!important;
}
