@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap');

* {
  font-family: 'Raleway', sans-serif;
}
html, .summary-header {
  background: #f9f4f5!important;
}

.widget-header {
  background-color: #5c7d77;
  color: black;
  font-widget: 500;
}

.line, .header-title {
  color: white;
}

.btn-primary {
  background-color: #d0a75b;
  border-radius: 2rem;
  border: none;
  color: black;
}

.btn-primary:hover {
  background: #d0a75b!important;
  filter: brightness(80%);
  color: black;
}

.btn-primary:focus {
  border-color: #d0a75b;
  box-shadow: 0 0 0 0.2rem #d0a75b80;
}


.input-text, .dropdown-toggle {
  border-radius: 2rem!important;
}
.summary-header-icon, .link {
    color: #273d3e!important;
}

.container-fluid {
  background: white;
}

.multiDateTab {
  color: white;
  background: #5c7d77;
}

.singleDateTab:after, .multiDateTab:after {
      border-bottom: 5px solid #273d3e!important;
}

.DayPicker-Caption {
  color: #273d3e!important;
}

.DayPicker-Day--selected{
   background: #5c7d77!important;
}

.summary-header-title {
  color: #464742;
}